body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

.navbar-brand {
  color: white !important;
}

.navbar-nav {
  margin-left: auto;
}

.smallImg {
  height: 200px;
  width: 100% !important;
  border-radius: 5px !important;
}

.btn {
  background-color: black !important;
  color: white !important;
  box-shadow: none !important;
}

.bs {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px !important;
  border-radius: 5px !important;
  padding: 20px !important;
}

.bigImg {
  height: 300px;
  border-radius: 5px !important;
}

.loader-container {
  position: fixed;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 150px); /* Adjusting height to ensure it doesn't overflow */
  z-index: 1000; /* Ensure it's on top of other content */
}


input, select, .ant-picker {
  box-shadow: none !important;
  margin-top: 10px !important;
  border: 1px solid black !important;
  width: 100% !important;
  border-radius: 3px !important;
  height: 35px !important;
}

.dropdown-toggle {
  border: 0px solid black !important;
}

.ant-picker-input input {
  border: none !important;
}

.landing {
  background-color: black !important;
  height: 90vh;
  padding-top: 130px;
}

.landBtn {
  background-color: white !important;
  color: black !important;
  margin-top: 20px;
}
